@media(max-width: 750px) {
  .profile {
    flex-wrap: wrap;
    flex-direction: column !important;
  }
  .description {
    margin-top: 15px;
  }
  .name-surname {
    text-align: center;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-top: 50px;
  width: 50%;
}

header {
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: column;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  text-align: left;
}

.name-surname {
  margin-top: -1px;
}

address {
  display: inline-block;
  flex-direction: column;
  text-align: left;

}
.my-picture {
  width: 125px;
  margin-right: 25px;
  border-radius: 25px;
}

a {
  text-decoration: none;
  font-style: normal;
  transition: background-color 0.1s;
}

nav {
  text-align: center;
}
