body {
  font-family: Helvetica, sans-serif;
  margin: auto;
  margin-top: 50px;
  width: 50%;
}

header {
  display: flex;
  text-align: center;
  margin: auto;

}

.description {
  text-align: left;
  margin-left: 40px;
  margin-top: -20px;
}

address {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.my-picture {
  width: 25%;
}

a {
  text-decoration: none;
  font-style: normal;
}

nav {
  text-align: center;
}